// ShowUserPage.module.scss

.proDetailsAndButtonContainer {
    display: flex;
    align-items: flex-start; 
}
.ShowUserPage {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
}

.content {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 20px; 
}

.SideBar {
    
    width: 150px; 
    margin-left: auto; 
    margin-right: 20px;
}

.friendButton {
    margin-top: 20px; 
}

.ProDetails {
    margin-bottom: 20px;
}

.profileDetailsContainer {
    margin-top: 20px; 
}